.game {
  margin: auto;
  width: 80%;
  min-height: 700px;
  background-color: white;
  border-radius: 1rem;
}

.hints {
  width: 60%;
  margin: auto;
}

.hint {
  position: relative;
  top: 1rem;
  margin-top: 1rem;
  padding: 0.3rem;
  background-color: #391f62;
  border-radius: 1rem;
  display: flex;
  min-height: 100px;
}

.hint button {
  margin: 1rem auto;
  padding: 0.3rem 1rem;
  scale: 1;
  transition: 0.3s;
  border: none;
  border-radius: 1rem;
  box-shadow: 6px 6px 0 #1a0242;
  background-color: white;
}

.hint button:hover {
  cursor: pointer;
  scale: 1.15;
  transition: 0.3s;
  box-shadow: none;
}

.hint > p {
  position: relative;
  color: white;
  margin: 0.5rem;
  transform: translate(0, 25%);
}

p > span {
  color: #efefef;
}

form {
  width: 60%;
  margin: auto;
  position: relative;
  top: 6rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

form > button:hover {
  cursor: pointer;
}

form input {
  border-radius: 1rem;
  border: none;
  background-color: #391f62;
  color: white;
  text-align: center;
}

form input:focus {
  outline: none;
}

.game h3 {
  text-align: center;
  position: relative;
  top: 5rem;
}

.text-hidden {
  display: none;
}

.your-country {
  display: flex;
  position: relative;
  justify-content: center;
}

.guess-name {
  display: flex;
  position: relative;
  top: 5%;
  justify-content: center;
}

.guess {
  transform: translate(0, 45%);
}

.points {
  display: flex;
  justify-content: center;
  position: relative;
}

.correct {
  color: rgb(9, 111, 9);
}

.wrong {
  color: rgb(162, 0, 0);
}

.bold {
  font-weight: bold;
}

.hide {
  display: none;
}
